<div class="container">
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDO</th>
                <th scope="col">SEXO</th>
                <th scope="col">FECHA DE NAC</th>
                <th scope="col">NACIONALIDAD</th>
                <th scope="col">FOTO</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let actor of actores'>
                <td>{{actor.id}}</td>
                <td>{{actor.nombre}}</td>
                <td>{{actor.apellido}}</td>
                <td>{{actor.sexo}}</td>
                <td>{{actor.fecha}}</td>
                <td>{{actor.nacionalidad}}</td>                
                <td><img *ngIf='actor.foto != "" '[src]="actor.foto" alt="" class="imagen"></td>
                <td><button class="btn btn-success mx-auto d-block" (click)='onSelect(actor)'>Seleccionar</button></td>
                <!-- <td><button class="btn btn-success mx-auto d-block" (click)='onBorrar(actor)'>Borrar</button></td>
                <td><button class="btn btn-success mx-auto d-block" (click)='onModificar(actor)'>Modificar</button></td>
                <td class=""><button class="btn btn-success mx-auto d-block" (click)='onDetalle(actor)'>Detalle</button></td> -->
            </tr>
        </tbody>
    </table>
</div>
