<app-navbar></app-navbar>
<div class="container">
    <app-tabla [actores]='actores' (select)='onSelect($event)'></app-tabla>
    <div class="row">
        <div class="col-4">
            <app-borrar [actor]='select' (limpiar)='onLimpiar()'></app-borrar>
        </div>
        <div class="col-4">
            <app-detalle [actor]='select'(limpiar)='onLimpiar()'></app-detalle>
        </div>
        <div class="col-4">
            <app-modificar [actor]='select' (limpiar)='onLimpiar()'></app-modificar>
        </div>
    </div>
</div>
