<div class="row">
    <div class="col-6">
        <div class="row ">
            <div class="col-12 text-center">
        <h2>ALTA ACTOR</h2>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <label class="label-control">Nombre</label>
    </div>
    <input type="text" [(ngModel)]='actor.nombre'>
</div>
<div class="row">
    <div class="col-4">
        <label class="label-control">Apellido</label>
    </div>
    <input type="text" [(ngModel)]='actor.apellido'>
</div>
<div class="row">
    <div class="col-4">
        <label class="label-control">sexo</label>
    </div>
    <input type="text" [(ngModel)]='actor.sexo'>
</div>
<div class="row">
    <div class="col-4">
        <label class="label-control">Fecha de nacimiento</label>
    </div>
    <input type="date" [(ngModel)]='actor.fecha'>
</div>
<div class="row">
    <div class="col-4">
        <label class="label-control">Nacionalidad</label>
    </div>
    <input type="text" [(ngModel)]='actor.nacionalidad' disabled>
</div>
<button class="btn btn-primary btn-block mt-2" (click)='onGuardar()'>Guardar</button>
</div>
<div class="col-6">
    <app-tabla-paises (paisSelected)='onTablaPais($event)'></app-tabla-paises>
</div>
</div>
