<div class="row">
    <div class="col-12 text-center">
        <h2>BORRAR</h2>
    </div>
</div>
<div class="row">
    <div class="col-12">
        Nombre : {{actor.nombre}}
    </div>
</div>
<div class="row">
    <div class="col-12">
        Apellido: {{ actor.apellido}}
    </div>
</div>
<div class="row">
    <div class="col-12">
        Sexo: {{actor.sexo}}
    </div>
</div>
<div class="row">
    <div class="col-12">
        Fecha de nacimiento: {{actor.fecha}}
    </div>
</div>
<div class="row">
    <div class="col-12">
        Nacionalidad: {{actor.nacionalidad}}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <img *ngIf="actor.foto != ''" [src]='actor.foto' alt="" class="imagen">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn btn-danger btn-block" (click)='onBorrar()'> Borrar</button>
    </div>
</div>