<nav class="navbar navbar-dark bg-dark text-white">
  <div class="row">
    <div class="col-2">
      <h2>Parcial</h2>
    </div>
    <div class="col-2">
      <a routerLink=''> Alta Actores</a>
    </div>
    <div class="col-2">
      <a routerLink='/actor/listado text-white'> Listado Actores</a>
    </div>
    <div class="col-2">
      <a routerLink='/peliculas/alta'> Peliculas alta</a>
    </div>
    <div class="col-2">
      <a routerLink='/actor/actorpelicula'> Actor Pelicula</a>
    </div>
  </div>
</nav>