<div class="container">
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDO</th>
                <th scope="col">EMAIL</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let usuario of usuarios'>
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.apellido}}</td>
                <td>{{usuario.email}}</td>
                <td><button class="btn btn-success mx-2" (click)='onBorrar(usuario)'>borrar</button></td>
                <td><button class="btn btn-success mx-2" (click)='onModificar(usuario)'>modificar</button></td>
            </tr>
        </tbody>
    </table>
        <div class="row">
            <label class="label-control">Nombre</label>
            <input type="text" [(ngModel)]='user.nombre'>
        </div>
        <div class="row">
            <label class="label-control">Apellido</label>
            <input type="text" [(ngModel)]='user.apellido'>
        </div>
        <div class="row">
            <label class="label-control">Email</label>
            <input type="text" [(ngModel)]='user.email'>
        </div>
        <button class="btn btn-primary " (click)='onGuardar(user)'>Guardar</button>
</div>
